.App {
  text-align: center;
}

.App-header-container {
  background-color: azure;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px;
  border: 1px solid rgb(247, 247, 247);
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  min-height: 85px;
}

.App-header {
  background-color: white;
  box-shadow: 1px 1.5px 1px 0px black;
  padding: 1rem 2rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-input {
  width: 28rem;
  height: 2rem;
  border: 0px none;
}

.submit-button {
  max-width: 8vw;
  margin: 0.2rem auto;
  font-weight: 700;
  cursor: pointer;
  font-size: 1.5rem;
}

.chart-container {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
